{% extends 'base.html' %}

{% block title %} Email sent {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br><br><br><br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Email sent with details</h3><br><br>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'login' %}" class="btn btn-outline-danger">Back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br><br><br>

{% endblock %}