{% extends 'base.html' %}
{% load static %}
{% block title %} List of boardgames {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-8"><br><br><br>
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Year</th>
                        <th>Players</th>
                        <th>Playtime</th>
                        <th>Player age</th>
                        <th>Weight</th>
                        <th>Designer</th>
                        <th>Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in all_boardgames %}
                        <tr class="text-center">
                            <td>
                                <div onclick>
                                    <a href="{% url 'detail-boardgame' game.id %}">{{ game.title }}</a>
                                </div>
                                <div>
                                    {% if game.image %}
                                    <img src="{{ game.image.url }}" alt="{{ game.title }}" height="100">
                                {% else %}
                                    <img src="{% static 'images/dices.webp' %}" alt="..." height="100">
                                {% endif %}
                                </div>
                            </td>
                            <td>{{ game.publication_year }}</td>
                            <td>{{ game.max_players }}</td>
                            <td>{{ game.playtime }} min</td>
                            <td>{{ game.player_age }}</td>
                            <td>{{ game.weight }}</td>
                            <td>{{ game.designer }}</td>
                            <td>{{ game.category }}</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'update-boardgame' game.id %}"
                                               class="dropdown-item">Update</a>
                                        </li>
                                        <li><a href="{% url 'detail-boardgame' game.id %}"
                                               class="dropdown-item">Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
