<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'welcome' %}">BoardGame Library</a>
        <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'detail-user' request.user.id %}">My Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">My Games</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Collection</a></li>
                            <li><a class="dropdown-item" href="#">Favourites</a></li>
                            <li><a class="dropdown-item" href="#">Wishlist</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        BoardGames
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'list-of-boardgames' %}">All BoardGames</a></li>
                        <li><a class="dropdown-item" href="{% url 'create-boardgame' %}">Add a new game</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-games-bgg' %}">Add games from BGG</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-boardgames' %}?category=Abstract%20Strategy">Abstract
                            and logical games</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-boardgames' %}?category=Card%20Game">Card
                            games</a></li>
                        <li><a class="dropdown-item" href='{% url 'list-of-boardgames' %}?category=Children"s%20Game'>Children's
                            games</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-boardgames' %}?category=Party%20Game">Party
                            games</a></li>
                        <li><a class="dropdown-item" href="{% url 'list-of-boardgames' %}?category=Strategy">Gamer/Strategy
                            games</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Help</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">About</a></li>
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-outline-info dropdown-toggle me-md-4" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{% url 'logout' %}">Logout, {{ request.user.username }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="btn-group">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Login</a>
                    <a href="{% url 'create-user' %}" class="btn btn-outline-secondary">Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

